<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Samee Siddiqui</title>
    <meta name="description" content="Samee Siddiqui's personal site"
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" type="text/css">

  </head>
  <body>
    <header>
      <div class="navbar">
        <a class="site-title" href="/">Samee Siddiqui</a>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
        </nav>
      </div>
    </header>

    <div>
      <h1>hi</h1>
    </div>

    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
     _gaq.push(['_trackPageview']);
     (function()
     {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </body>
</html>
